body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Überschrift */
}

h1 {
    text-align: center;
    margin-bottom: 30px; /* Abstand unter der Überschrift */
}

.h3red {
    color: red;
}

.h3blue {
    color: blue;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px; /* Begrenzung der maximalen Breite */
}

.input-section, .output-section {
    width: 45%; /* Beide Bereiche nehmen jeweils 45% der Breite ein */
}

.input-section-1 {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Abstand zwischen den Eingabefeldern */
}

.input-section-2 {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Abstand zwischen den Eingabefeldern */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
}

select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-top: 100px; /* Abstand oberhalb des Buttons */
    margin-left: 150px;
    margin-right: 150px;
}

button {
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%; /* Button auf halbe Breite begrenzen */
}

button:hover {
    background-color: #0056b3;
}

.output-section {
    text-align: left; /* Text linksbündig */
    font-size: 18px;
    color: #333;
    align-items: flex-start; /* Vertikale Ausrichtung */
}

#output {
    display: block;
}

p {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.tooltip-icon {
    margin-left: 8px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
    position: relative;
}

.tooltip-icon:hover::after {
    content: attr(data-tooltip); /* Der Text, der angezeigt wird */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tooltip-icon:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
}
